@model IEnumerable<ImageUploading.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ProductImageUrl
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
        </td>
        <td>
			@item.ProductImageUrl
            @if (item.ProductPhotos == null)
                        {
                        <p>Fuck</p>
                        }
                        else
                        {
                            foreach (var image in item.ProductPhotos)
                            {
                                
                                <img src="@Url.Action("GetImage", "Products", new { image.PhotoId })" alt="@item.ProductName"  width="75px" height="75px"/>
                            }

                        }
        </td>
    </tr>
}

</table>


